.Card{
    background-color: rgb(181, 107, 107);
    border-radius: 10px;
    overflow: hidden;
    border:  2px solid rgb(181, 107, 107);
    margin: 20px;
}

.Title{
    justify-content: center;
    display: flex;
    color: white;
}

.Content{
    background-color: yellow;
    padding: 20px;
}

.Children{
    background-color: rgb(144, 144, 144);
    display: flex;
    justify-content: center;
}